.income {
  padding: 25px 18px 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.income-detail h4 {
  color: var(--primary-color);
  font-weight: 500;
}
.income-detail h3 {
  padding: 10px 0;
  font-weight: 550;
  font-style: normal;
  font-size: 1.3rem;
}

.income-wrap {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem 0;
}

.income-wrap .wrap h1 {
  font-size: 1.2rem;
}

.income-wrap .wrap h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.wrap h1 {
  font-weight: bold;
}

.wrap span {
  font-weight: 400;
  color: var(--text-color);
  font-size: small;
}

.wrap .line {
  width: 100%;
  height: 0.8px;
  margin-top: 6px;
  background: var(--primary-color);
}

.income h3 {
  font-weight: light;
}

.compare .compare-span {
  font-weight: 400;
  color: var(--text-color);
  font-size: small;
}

.compare span {
  font-weight: 400;
  font-size: small;
}

.goals {
  display: flex;
  justify-content: space-around;
}

.left-goal {
  display: flex;
  flex-direction: column;
  margin-top: 1.8rem;
  gap: 1rem;
}

.left-goal span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.left-goal span b {
  padding-right: 3px;
}

.goals .bars {
  display: flex;
  align-items: center;
}
.income-detail .income-wrap .mobile-size {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 500px) {
  .compare span {
    font-size: 0.8rem;
  }

  .goals {
    flex-direction: column;
  }

  .left-goal {
    align-items: flex-start;
    gap: 0.5rem;
  }

  .wrap span {
    font-size: 0.8rem;
  }
  .income-wrap {
    display: block;
  }

  .income-detail .income-wrap .mobile-size {
    justify-content: space-between;
    padding-top: 1rem;
  }

  .compare .compare-span {
    font-size: 0.8rem;
  }
}
